In [15]:
# Set display options to show the full output without truncation
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.max_colwidth', None)  # Show full column width
pd.set_option('display.expand_frame_repr', False)  # Prevent DataFrame from being split across lines

In [16]:
def format_brl(value: float) -> str:
    """
    Converts a float number into Brazilian Real (BRL) format.
    
    Args:
        value (float): The float number to be converted.
        
    Returns:
        str: The formatted string in BRL (e.g., 'R$ 14.547,45').
    """
    return f"R$ {value:,.2f}".replace(",", "X").replace(".", ",").replace("X", ".")

In [1]:
import pandas as pd
df = pd.read_csv('SALARIOS_SERVIDORES_UNB_AGOSTO.csv')
MAT = df[df['DEPARTAMENTO']=='DEPTO MATEMATICA'].copy()
MAT.head(10)

# def clean_currency(value):
#     try:
#         return float(value.replace('R$', '').replace('.', '').replace(',', '.').strip())
#     except Exception as e:
#         return 0
    
# def limpar_rem(datafr):
#     df = datafr
#     df['REMUNERACAO BRUTA'] = df['REMUNERACAO BRUTA'].apply(clean_currency)
#     df['REMUNERACAO LIQUIDA'] = df['REMUNERACAO LIQUIDA'].apply(clean_currency)
# limpar_rem(MAT)
# MAT.drop_duplicates(inplace=True)
# # MAT_sorted = MAT.sort_values(by='REMUNERACAO BRUTA', ascending=False).reset_index(drop=True)
# # MAT_sorted['Ranking'] = MAT_sorted['REMUNERACAO BRUTA'].rank(ascending=False, method='first').astype(int)
# # ranking_list = list(MAT_sorted[['NOME', 'REMUNERACAO BRUTA', 'Ranking']].itertuples(index=False, name=None))
# # for professor in ranking_list:
# #     print("{lugar} lugar: {nome}, remuneração bruta de {rem}".format(nome = professor[0], lugar=professor[2], rem=professor[1]))

,NOME,ID,SITUACAO,DEPARTAMENTO,MES,REMUNERACAO BRUTA,REMUNERACAO LIQUIDA
9,ADAIL DE CASTRO CAVALHEIRO,1015463,Ativo,DEPTO MATEMATICA,202408,"R$ 20.938,24","R$ 14.103,20"
109,ALANCOC DOS SANTOS ALENCAR,2305859,Ativo,DEPTO MATEMATICA,202408,"R$ 6.356,02","R$ 5.990,35"
121,ALBERTO MASAYOSHI FARIA OHASHI,3383033,Ativo,DEPTO MATEMATICA,202408,"R$ 20.938,24","R$ 15.776,88"
171,ALEX CARRAZEDO DANTAS,20781,Ativo,DEPTO MATEMATICA,202408,"R$ 15.112,72","R$ 11.403,74"
208,ALEXANDRE EFIMOVICH ZALESSKI,1433133,Ativo,DEPTO MATEMATICA,202408,"R$ 18.085,19","R$ 12.819,15"
236,ALEXEI KRASSILNIKOV,1273156,Ativo,DEPTO MATEMATICA,202408,"R$ 26.821,26","R$ 17.483,06"
272,ALINE GOMES DA SILVA PINTO,2807023,Ativo,DEPTO MATEMATICA,202408,"R$ 23.185,69","R$ 15.284,97"
515,ANDRE CALDAS DE SOUZA,2830889,Ativo,DEPTO MATEMATICA,202408,"R$ 15.983,49","R$ 17.965,25"
580,ANDREA GENOVESE DE OLIVEIRA,2784939,Ativo,DEPTO MATEMATICA,202408,"R$ 15.112,72","R$ 11.469,34"
632,ANGEL RODOLFO BAIGORRI,3773197,Ativo,DEPTO MATEMATICA,202408,"R$ 25.959,53","R$ 19.716,66"