In [15]:
# Set display options to show the full output without truncation
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.max_colwidth', None)  # Show full column width
pd.set_option('display.expand_frame_repr', False)  # Prevent DataFrame from being split across lines

In [16]:
def format_brl(value: float) -> str:
    """
    Converts a float number into Brazilian Real (BRL) format.
    
    Args:
        value (float): The float number to be converted.
        
    Returns:
        str: The formatted string in BRL (e.g., 'R$ 14.547,45').
    """
    return f"R$ {value:,.2f}".replace(",", "X").replace(".", ",").replace("X", ".")

In [17]:
import pandas as pd
df = pd.read_csv('SALARIOS_SERVIDORES_UNB_AGOSTO.csv')
MAT = df[df['DEPARTAMENTO']=='DEPTO MATEMATICA'].copy()


def clean_currency(value):
    try:
        return float(value.replace('R$', '').replace('.', '').replace(',', '.').strip())
    except Exception as e:
        return 0
    
def limpar_rem(datafr):
    df = datafr
    df['REMUNERACAO BRUTA'] = df['REMUNERACAO BRUTA'].apply(clean_currency)
    df['REMUNERACAO LIQUIDA'] = df['REMUNERACAO LIQUIDA'].apply(clean_currency)
limpar_rem(MAT)
MAT.drop_duplicates(inplace=True)
# MAT_sorted = MAT.sort_values(by='REMUNERACAO BRUTA', ascending=False).reset_index(drop=True)
# MAT_sorted['Ranking'] = MAT_sorted['REMUNERACAO BRUTA'].rank(ascending=False, method='first').astype(int)
# ranking_list = list(MAT_sorted[['NOME', 'REMUNERACAO BRUTA', 'Ranking']].itertuples(index=False, name=None))
# for professor in ranking_list:
#     print("{lugar} lugar: {nome}, remuneração bruta de {rem}".format(nome = professor[0], lugar=professor[2], rem=professor[1]))

1 lugar: NORAI ROMEU ROCCO, remuneração bruta de 29507.73
2 lugar: LILIANE DE ALMEIDA MAIA, remuneração bruta de 28886.66
3 lugar: MA TO FU, remuneração bruta de 27892.93
4 lugar: HEMAR TEIXEIRA GODINHO, remuneração bruta de 27550.22
5 lugar: PAVEL SHUMYATSKY, remuneração bruta de 26942.75
6 lugar: PAVEL ZALESSKI, remuneração bruta de 26821.26
7 lugar: ALEXEI KRASSILNIKOV, remuneração bruta de 26821.26
8 lugar: VICTOR PETROGRADSKIY, remuneração bruta de 26821.26
9 lugar: GIOVANY DE JESUS MALCHER FIGUEIREDO, remuneração bruta de 26527.1
10 lugar: CARLOS MABER CARRION RIVEROS, remuneração bruta de 26406.21
11 lugar: CARLOS ALBERTO PEREIRA DOS SANTOS, remuneração bruta de 26247.6
12 lugar: MARCELO FERNANDES FURTADO, remuneração bruta de 26247.6
13 lugar: ANGEL RODOLFO BAIGORRI, remuneração bruta de 25959.53
14 lugar: LUCIANA MARIA DIAS DE AVILA RODRIGUES, remuneração bruta de 25276.56
15 lugar: SHEILA CAMPOS CHAGAS, remuneração bruta de 24435.53
16 lugar: CATIA REGINA GONCALVES, remuneração bruta de 24371.85
17 lugar: WANG QIAOLING, remuneração bruta de 24213.25
18 lugar: MAURO MORAES ALVES PATRAO, remuneração bruta de 24073.08
19 lugar: DIEGO MARQUES FERREIRA, remuneração bruta de 23968.13
20 lugar: CLEYTON HERCULES GONTIJO, remuneração bruta de 23968.13
21 lugar: RUI SEIMETZ, remuneração bruta de 23781.34
22 lugar: JIAZHENG ZHOU, remuneração bruta de 23185.69
23 lugar: ALINE GOMES DA SILVA PINTO, remuneração bruta de 23185.69
24 lugar: GUY GREBOT, remuneração bruta de 22744.43
25 lugar: DANIELE DA SILVA BARATELA MARTINS NETO, remuneração bruta de 22733.32
26 lugar: DANIELA AMORIM AMATO, remuneração bruta de 22733.32
27 lugar: LEANDRO MARTINS CIOLETTI, remuneração bruta de 22433.36
28 lugar: KELLCIO OLIVEIRA ARAUJO, remuneração bruta de 22433.36
29 lugar: MANUELA CAETANO MARTINS DE REZENDE, remuneração bruta de 22377.0
30 lugar: LUCAS CONQUE SECO FERREIRA, remuneração bruta de 21661.65
31 lugar: THEO ALLAN DARN ZAPATA, remuneração bruta de 21661.65
32 lugar: JANETE SOARES DE GAMBOA, remuneração bruta de 21562.26
33 lugar: NILTON MOURA BARROSO NETO, remuneração bruta de 21467.88
34 lugar: LUIS HENRIQUE DE MIRANDA, remuneração bruta de 20938.24
35 lugar: RADERSON RODRIGUES DA SILVA, remuneração bruta de 20938.24
36 lugar: ALBERTO MASAYOSHI FARIA OHASHI, remuneração bruta de 20938.24
37 lugar: ADAIL DE CASTRO CAVALHEIRO, remuneração bruta de 20938.24
38 lugar: PEDRO ROITMAN, remuneração bruta de 20838.85
39 lugar: JOAO PAULO DOS SANTOS, remuneração bruta de 20838.85
40 lugar: LUIS ROBERTO LUCINGER DE ALMEIDA, remuneração bruta de 18199.09
41 lugar: ALEXANDRE EFIMOVICH ZALESSKI, remuneração bruta de 18085.19
42 lugar: IRINA SVIRIDOVA, remuneração bruta de 17321.19
43 lugar: REGINA DA SILVA PINA NEVES, remuneração bruta de 17075.02
44 lugar: PAULO HENRIQUE PEREIRA DA COSTA, remuneração bruta de 17075.02
45 lugar: RAIMUNDO DE ARAUJO BASTOS JUNIOR, remuneração bruta de 16518.57
46 lugar: RICARDO PARREIRA DA SILVA, remuneração bruta de 16518.57
47 lugar: JAQUELINE GODOY MESQUITA, remuneração bruta de 16518.57
48 lugar: EMERSON FERREIRA DE MELO, remuneração bruta de 16518.57
49 lugar: MARTINO GARONZI, remuneração bruta de 16518.57
50 lugar: RAQUEL CARNEIRO DORR, remuneração bruta de 16509.35
51 lugar: TARCISIO CASTRO SILVA, remuneração bruta de 16208.86
52 lugar: FLAVIA FERREIRA RAMOS ZAPATA, remuneração bruta de 16035.89
53 lugar: JOSE ANTONIO OLIVEIRA DE FREITAS, remuneração bruta de 16035.89
54 lugar: ARY VASCONCELOS MEDINO, remuneração bruta de 16035.89
55 lugar: ANDRE CALDAS DE SOUZA, remuneração bruta de 15983.49
56 lugar: WILLIAN CINTRA DA SILVA, remuneração bruta de 15627.2
57 lugar: EDUARDO ANTONIO DA SILVA, remuneração bruta de 15627.2
58 lugar: CLAUS AKIRA MATSUSHIGUE, remuneração bruta de 15469.01
59 lugar: ANDREA GENOVESE DE OLIVEIRA, remuneração bruta de 15112.72
60 lugar: ALEX CARRAZEDO DANTAS, remuneração bruta de 15112.72
61 lugar: LINEU DA COSTA ARAUJO NETO, remuneração bruta de 14565.68
62 lugar: MIRELSON MARTINS FREITAS, remuneração bruta de 12862.13
63 lugar: BENEDITO LEANDRO NETO, remuneração bruta de 12862.13
64 lugar: MAYRA SOARES COSTA RODRIGUES, remuneração bruta de 12732.23
65 lugar: INGRID DE SOUSA ANDRADE, remuneração bruta de 10238.08
66 lugar: CLAUDIA QUEIROZ ANDRE, remuneração bruta de 9855.23
67 lugar: MARTA ADRIANA DE MORAES SOUSA, remuneração bruta de 6518.05
68 lugar: YACKELIN ZULIBETH RODRIGUEZ LOPEZ, remuneração bruta de 6356.02
69 lugar: NATHALIA NOGUEIRA GONCALVES, remuneração bruta de 6356.02
70 lugar: AYANE ADELINA DA SILVA, remuneração bruta de 6356.02
71 lugar: ALANCOC DOS SANTOS ALENCAR, remuneração bruta de 6356.02
72 lugar: HECTOR ANDRES ROSERO GARCIA, remuneração bruta de 6356.02
73 lugar: MATEUS FIGUEIREDO DE SOUZA, remuneração bruta de 6356.02
74 lugar: JULIA AREDES DE ALMEIDA, remuneração bruta de 6356.02
75 lugar: LUIZ CARLOS DE SANTANA, remuneração bruta de 5995.17
76 lugar: DEUSANIRA LOPES DA SILVA, remuneração bruta de 5615.19
77 lugar: MOISES EDUARDO SOBRAL PIMENTEL, remuneração bruta de 5590.32
78 lugar: DANIEL DA SILVA SCHRITER, remuneração bruta de 4827.99
79 lugar: SOLANGE DA MATTA CAVALCANTE, remuneração bruta de 4749.01
80 lugar: MARTA ARAUJO CHAGAS, remuneração bruta de 4532.17
81 lugar: MARIA LIAMARA PEREIRA DA SILVA, remuneração bruta de 4309.7
82 lugar: CRISTINA ACCIARRI, remuneração bruta de 0.0
83 lugar: DANIELE NANTES SOBRINHO, remuneração bruta de 0.0
84 lugar: MARCUS VINICIUS ARAUJO SOARES, remuneração bruta de 0.0
85 lugar: JOSE LUIS TERUEL CARRETERO, remuneração bruta de 0.0
86 lugar: SIMONE MAZZINI BRUSCHI, remuneração bruta de 0.0
87 lugar: XIA CHANGYU, remuneração bruta de 0.0